@page
@model BookingRoom.Pages.RoomPages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Room.RoomName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.RoomName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Room.BasePrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.BasePrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Room.TotalCapacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.TotalCapacity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Room.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Room.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.Category.CategoryName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Room.RoomId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
